* {
	box-sizing: border-box;
}


html {
	width: 100vw;
	height: 100vh;
}


body {
	width: 100%;
	height: 100%;
}


.container-fluid {
	height: 100%;
}


.header {
	height: 10%;
	background-color: #88FFAA;
}


.main {
	height: 90%;
}


.leftSide {
	padding-top: 10px;
	padding-left: 10px;
	overflow: auto;
}


.rightSide {
	margin-top: 10px;
	overflow: auto;
	z-index: 0;
}


.lesson {
	margin-top: 10px;
	border: 1px solid grey;
}


.hRule {
	width: 100%;
	margin: 0;
}


.lessonSubject, .lessonGrade {
	padding-top: 10px;
}


.lessonContents {
	padding-top: 10px;
}


.contents:not(:first-child) {
	padding-left: 10px;
}


.lessonContents .glyphicon {
	padding-left: 5px;
}


.rightHeader, .topicHeader {
	background-color: grey;
	padding-left: 10px;
	color: #FFF;
}


.courseName {

	font-size: 1.5em;
}


.topics {
	padding-top: 10px;
}


.topic {
	padding-top: 10px;
	padding-left: 10px;
}


.topicNo {
	background-color: #AAA;
	color: #FFF;
	border-radius: 50%;
}


.topicBody {
	padding-left: 10px;
}


.droppableDiv {
	margin-top: 10px;
	border: 1px dashed grey;
	padding: 10px;
	color: #FFF;
}


.topicLesson {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	background-color: #FFF;
}


.topicLessonImg {
	height: 100%;
	width: 20%;
}


.topicLessonTitle {
	padding-left: 10px;
	padding-right: 20px;
}


.headerText {
	margin: 0;
	padding-left: 10px;
}


.topic {
	background-color: #CCC;
	margin-top: 5px;
	padding-bottom: 5px;
}


@media screen and (min-width: 992px) {
	.leftSide, .rightSide {
		border-right: 2px solid grey;
		height: 100%;
	}

	.rightSide {
		margin-top: 0px;
	}
}